
# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
.env

# Replit specific files
.replit
replit.nix
.config/
.upm/
.cache/

# IDE specific files
.idea/
.vscode/

# Zip files (exports created by the app)
*.zip

# Streamlit secrets
.streamlit/secrets.toml

# Log files
*.log

# Database files
*.db
*.sqlite3

# Temporary files
.DS_Store
*.tmp
*.temp
